<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title> Dashkit :: {{title}}</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />

    <!--Core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/bulma.css">
    <link rel="stylesheet" href="{{root}}assets/css/app.css">
    <link rel="stylesheet" href="{{root}}assets/css/dashboard.css">
    <link rel="stylesheet" href="{{root}}assets/css/icons.min.css">

</head>

<body>
    {{> pageloader}}
    {{> editor-sidebar}}
    {{> navbar}}
    {{> mobile-nav}}
    {{> body}}
    {{> right-sidebar}}
    {{> chat-sidebar}}
    {{> search-modal}}
    {{> reminder-modal}}
    {{> scripts}}
</body>

</html>